[Unit]
Description=Run the Factom Asset Tokens Daemon on %i
Wants=network-online.target
After=network-online.target

[Service]
User=fatd
Group=fatd

Environment=FATD_DB_PATH=/var/lib/fatd
EnvironmentFile=-/etc/default/fatd
EnvironmentFile=-/etc/default/fatd@%i
ExecStart=/usr/bin/fatd $FATD_START_OPTS -networkid=%i

[Install]
WantedBy=default.target
